:root {
  --font-mono: "Roboto Mono", monospace;
  --font-sans: "Open Sans", sans-serif;
  --bg: #fcfcfc;
  --color-primary: #7493f8;
  --color-secondary: #a7afc7;
  --color-paragraph: #8e94a4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #fcfcfc;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 8vh;
  font-family: var(--font-mono);
}

.header__logo {
  color: var(--color-primary);
  margin-left: 2rem;
}

.navbar__navlinks {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  /* animation: navLinkTransition 1s ease forwards ; */
}

.navlinks__navitem {
  list-style: none;
}

.navlinks__navlink {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--color-primary);
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 2px;
}

@media screen and (max-width: 1024px) {
  .navbar__navlinks {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar__navlinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25),
      0px 0px 8px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(5px); 
  }

  .navlinks__navitem {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkTransition {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}